# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.db
*.log

# Environments
venv/
env/
ENV/

# VSCode and IDEs
.vscode/
.idea/

# Uploads
static/uploads/*

# Byte-compiled and temp files
*.~ 
.DS_Store
Thumbs.db

# System
*.bak
Perenual API.txt
plant_care_v1.py
plant_care.py
test.py
